<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yizisu.music.and.video">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".module.add_song_to_album.ImportSongActivity"></activity>
        <activity android:name=".module.add_song_to_album.AddSongToAlbumActivity" />
        <activity android:name=".module.play_list_detail.PlayListDetailActivity" />
        <activity android:name=".TestDbActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".module.search.SearchMusicActivity"
            android:configChanges="screenSize|orientation|uiMode|keyboard|keyboardHidden|density|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".module.lrc.LrcActivity"
            android:configChanges="screenSize|orientation|uiMode|keyboard|keyboardHidden|density|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.full_video.FullVideoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullVideoTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="rtmp" />
                <data android:scheme="content" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/mp4" />
                <data android:mimeType="*/rmvb" />
                <data android:mimeType="*/avi" />
                <data android:mimeType="*/mkv" />
                <data android:mimeType="audio/x-pn-realaudio" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.local_music.LocalMusicActivity"
            android:configChanges="screenSize|orientation|uiMode|keyboard|keyboardHidden|density|screenLayout"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name=".service.music.MusicService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <activity
            android:name=".module.main.MainActivity"
            android:configChanges="screenSize|orientation|uiMode|keyboard|keyboardHidden|density|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>